#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(97, 97, 97, 0.8);
    z-index: 2;
}

.box {
    width: 300px;

}

.ellipsis {
    line-height: 1.6em;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}