<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>產業創新知識庫</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="icon" href="./assets/images/LOGO.png" type="image/ico" />
    <link href="./assets/css/fontawesome.min.css" rel="stylesheet">
    <!--icon font設定-->
    <link href="./assets/css/all.css" rel="stylesheet">

    <!--load all styles -->
    <link href="./assets/css/layout.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/chosen.min.css">
    <link rel="stylesheet" href="./assets/css/datatables.min.css">
    <link href="./assets/doc.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="./javascript/video.js"></script>
    <script src="./javascript/app.js"></script>
    <script src="./pages/component.js"> </script>
</head>

<body>
    <!-- app -->
    <div id="app">
        <header id="Header_front">
            <div class="top-nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title navbar-brand">
                        <img src="assets/images/LOGO_220308_cn.png" alt="logo">
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <div class="nav-links">
                    <p class="user-info">{{user.userAccount}}, 您好</p>
                    <a @click="onNav('index.html')">所有課程</a>
                    <a @click="onNav('myClass.html')">我的課程</a>
                    <a @click="onNav('bestClass.html')">課程推薦</a>
                    <a @click="logout()">登出</a>
                </div>
            </div>

        </header>

        <div id="WRAPPER">
            <!-- banner -->
            <div id="carousel01" class="carousel slide carousel-fade py-3" data-ride="carousel" data-bs-ride="false">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <div v-for="(banner,index) in banner_map" :key="index">
                        <button type="button" data-bs-target="#carousel01" :data-bs-slide-to="index"
                            :class=" index === 0? 'active' : '' " aria-current="true"></button>
                    </div>
                </div>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div v-for="(banner, index) in banner_map" :key="index"
                        :class="index === 0 ? 'carousel-item slide01 active':'carousel-item slide01'"
                        v-bind:style="{ 'background-image': 'url(' + banner.image + ')' }">
                    </div>
                </div>
                <!-- Left and right controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel01" data-bs-slide="prev"
                    @click="setActive(active-1)">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel01" data-bs-slide="next"
                    @click="setActive(active+1)">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- 載入 -->
            <div id="spinner-div" class="d-flex justify-content-center" v-if="loading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="section bg-light">
                <div class="container">
                    <h1>推薦課程</h1>
                    <div class="row my-4">
                        <div class="col-12 col-sm-12">
                            <div class="text-align-left">
                                <h3>資訊科技</h3>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 mb-4">
                            <div class="d-flex flex-row align-items-center">
                                <button type="button" class="btn btn-outline-dark mr-10px">資訊安全能力</button>
                                <button type="button" class="btn btn-outline-dark mr-10px">哈燒職場系列</button>
                                <button type="button" class="btn btn-outline-dark mr-10px">雲端趨勢應用</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-align-left">
                        <h3>關於哈燒共有五堂課</h3>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            <select class="form-control my-2">
                                <option>頁數</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12 mb-4 table-responsive">
                        <table id="dtBasicExample" class="table table-striped table-bordered table-sm bg-white" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">名稱
                        
                                    </th>
                                    <th class="th-sm">時間長度
                        
                                    </th>
                                    <th class="th-sm">參與人數
                        
                                    </th>
                                    <th class="th-sm">截止日期
                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>

                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>39</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                    
                </div>
            </div>
            
            <!-- 提示視窗 -->
            <div class="modal fade" id="infoModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">提示訊息</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-align-left">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer class="inside_footer" id="Footer_front">
            <div class="copyright copyright_color04">
                © 2022 Sunyu Tech Inc. All Rights Reserved.
            </div>
        </footer>

    </div>

    <!-- script -->
    <script type="module">
        import { unit } from './javascript/unit.js';
        import { config } from "./javascript/config.js";
        import {
            verifyExpiration,
            verifyToken,
            getVerifyToken,
            getLast,
            getHalf,
            getMine,
            getSelf,
            getSignup,
            getMaps,
            getExpertData,
        } from './javascript/api.js'

        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    loading: false,
                    message: "",
                    banner_map: [],
                    active: 0,
                    user: {},
                    experts: [],
                    params: {
                        last: {
                            currentPage: 1,
                            itemsPerPage: 2,
                        },
                        half: {
                            currentPage: 1,
                            itemsPerPage: 3,
                        },
                        mine: {
                            currentPage: 1,
                            itemsPerPage: 6,
                        },
                    },
                    last: [],
                    half: [],
                    mine: [],
                    infoModal: {}
                }
            },
            async created() {
                // banner 
                getMaps().then((resp) => {
                    this.banner_map = resp;
                });
                // 專家資料
                getExpertData().then((resp) => {
                    this.experts = resp;
                });
                let token = getUrlParam('token');
                console.log(token);
                if (token == null) {
                    token = getToken();
                    //token = "yJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ7XCJVc2VyU2VxXCI6MyxcIlVzZXJXb3JrTnVtXCI6XCJBMDAxXCIsXCJVc2VyTmFtZVwiOlwiYWFhXCIsXCJVc2VyQWNjb3VudFwiOlwiYW5pdGFcIixcIlVzZXJSb2xlXCI6MyxcIlVzZXJNb2JpbGVcIjpcIjA5MTIxMTIzMTJcIixcIkV4dGVuc2lvblwiOlwiXCIsXCJVc2VyTWFpbFwiOlwiYW5pdGFAdGVzdC5jbVwiLFwiVXNlclVuaXRcIjoxMyxcIlVzZXJKb2JUaXRsZVwiOjE0LFwiTWFuYWdlbWVudFwiOjAsXCJTdHJhdFdvcmtEYXlcIjpcIjIwMjItMDktMDFUMDA6MDA6MDBcIixcIkNyZWF0RGF0ZVwiOlwiMjAyMi0xMS0wMlQyMDo0NDo1N1wiLFwiQ3JlYXRVc2VyXCI6MSxcIklzQWN0aXZlXCI6MSxcIkRlbGV0ZVRhZ1wiOjAsXCJUb2tlblwiOm51bGwsXCJFeHBpcmF0aW9uXCI6bnVsbH0iLCJqdGkiOiIwOTdiNjI0OC1lYWQwLTQwMTctYjBiZC1hYmFjYjY0ZmM4ZTIiLCJuYmYiOjE2NzIwNDMyOTAsImV4cCI6MTY3MjEyOTY5MCwiaWF0IjoxNjcyMDQzMjkwLCJpc3MiOiJTdW55dSJ9.fLEpHy4xtuzJV8WyZeQmPF6mlTLE7mluq5RrioNBq8A";
                }
                if (token == null) {
                    this.message = "帳號驗證錯誤，請重新登入";
                    this.infoModal = bsModal('infoModal');
                    this.infoModal.show();
                }
                if (location.href.includes('?')) {
                    history.pushState({}, null, location.href.split('?')[0]);
                }
                this.verifyToken(token);
            },
            methods: {
                async onLoad() {
                    this.loading = true;
                    let params = getUrlQuery(this.params.last);

                    const last = await getLast(params);
                    if (last.resultCode == 10) {
                        this.last = last.content;
                    }
                    params = getUrlQuery(this.params.half);
                    const half = await getHalf(params);
                    if (half.resultCode == 10) {
                        this.half = half.content;
                    }

                    params = getUrlQuery(this.params.mine);
                    const mine = await getMine(params);
                    if (mine.resultCode == 10) {
                        this.mine = mine.content;
                    }
                    this.loading = false;
                },
                onOpen() {
                    var elm = document.getElementById('infoModal')
                    showModal(elm);
                },
                onNav(page) {
                    window.location.href = page;
                },
                async onNavCourse(item) {
                    var data = await getSignup(item.seq);
                    if (data.resultCode != 10) {
                        this.message = data.message;
                        this.infoModal = bsModal('infoModal');
                        this.infoModal.show();
                        return;
                    }
                    window.location.href = `course.html?seq=${item.seq}`;
                },
                verifyToken(token) {
                    const data = {
                        token: token,
                    };
                    // 驗證Token
                    verifyToken(data).then(resp => {
                        if (resp.resultCode == 10) {
                            // 驗證時間
                            const expAt = moment(resp.content.expiration);
                            const nowAt = moment();
                            // 大於現在時間 
                            const isVerify = nowAt.diff(expAt, "minutes") > 0 ? false : true;
                            this.user = resp.content;
                            setUserInfo(resp.content);
                            this.onLoad();
                        } else {
                            this.message = "帳號驗證錯誤，請重新登入";
                            this.infoModal = bsModal('infoModal');
                            this.infoModal.show();
                        }
                    })
                },
                async verifyAccount(token) {
                    if (token == null) {
                        // token = getToken();
                        return false;
                    }
                    const data = {
                        token: token,
                    };
                    // 驗證 token 
                    const resp = await verifyExpiration(data);
                    return resp;
                },
                setActive(index) {
                    let active = index;

                    if (index === this.banner_map.length) {
                        active = 0;
                    }
                    else if (index === -1) {
                        active = this.pictures.length - 1;
                    }
                    this.active = active;
                },
                logout() {
                    localStorage.clear();
                    sessionStorage.clear();
                    window.location.href = config().home_url;
                }
            }
        })
        vm.$mount('#app');
    </script>
</body>

</html>