<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>產業創新知識庫</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="icon" href="./assets/images/LOGO.png" type="image/ico" />
    <link href="./assets/css/fontawesome.min.css" rel="stylesheet">
    <!--icon font設定-->
    <link href="./assets/css/all.css" rel="stylesheet">

    <!--load all styles -->
    <link href="./assets/css/layout.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/chosen.min.css">
    <link rel="stylesheet" href="./assets/css/datatables.min.css">
    <link href="./assets/doc.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="./javascript/video.js"></script>
    <script src="./javascript/app.js"></script>
    <script src="./pages/component.js"> </script>
</head>

<body>
    <!-- app -->
    <div id="app">
        <header id="Header_front">
            <div class="top-nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title navbar-brand">
                        <img src="assets/images/LOGO_220308_cn.png" alt="logo">
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <div class="nav-links">
                    <p class="user-info">{{user.userAccount}}, 您好</p>
                    <a @click="onNav('index.html')">所有課程</a>
                    <a @click="onNav('myClass.html')">我的課程</a>
                    <a @click="onNav('bestClass.html')">課程推薦</a>
                    <a @click="logout()">登出</a>
                </div>
            </div>

        </header>

        <div id="WRAPPER">
            <!-- banner -->
            <div id="carousel01" class="carousel slide carousel-fade py-3" data-ride="carousel" data-bs-ride="false">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <div v-for="(banner,index) in banner_map" :key="index">
                        <button type="button" data-bs-target="#carousel01" :data-bs-slide-to="index"
                            :class=" index === 0? 'active' : '' " aria-current="true"></button>
                    </div>
                </div>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div v-for="(banner, index) in banner_map" :key="index"
                        :class="index === 0 ? 'carousel-item slide01 active':'carousel-item slide01'"
                        v-bind:style="{ 'background-image': 'url(' + banner.image + ')' }">
                    </div>
                </div>
                <!-- Left and right controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel01" data-bs-slide="prev"
                    @click="setActive(active-1)">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel01" data-bs-slide="next"
                    @click="setActive(active+1)">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- 載入 -->
            <div id="spinner-div" class="d-flex justify-content-center" v-if="loading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="section bg-light">
                <div class="container">
                    <h1>推薦課程</h1>
                    <div class="row my-4">
                        <div class="col-12 col-sm-12">
                            <div class="text-align-left">
                                <h3>資訊科技</h3>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 mb-4">
                            <div class="d-flex flex-row align-items-center">
                                <button type="button" class="btn btn-outline-dark mr-10px" @click="onClick(item)"
                                    v-for="item in recommendTypes">{{item.courseSubcategory}}</button>

                            </div>
                        </div>
                    </div>

                    <div class="row align-items-end">

                        <div class="col text-align-left">
                            <div>
                                <h3>關於{{this.recommendType.courseSubcategory}}共有{{ this.page.totalCount}}堂課</h3>
                            </div>

                        </div>

                        <div class="col">
                            <div class="align-items-end">
                                <label class="form-label">頁數：</label>
                                <select v-model="item" @change="onChange(item)">
                                    <option v-for="item in this.pages" :value="item">{{item}}</option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12 mb-4 table-responsive">
                            <table id="dtBasicExample" class="table table-striped table-bordered table-sm bg-white"
                                cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="th-sm">名稱

                                        </th>
                                        <th class="th-sm">時間長度

                                        </th>
                                        <th class="th-sm">參與人數

                                        </th>
                                        <th class="th-sm">截止日期

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, key) in recommends" :key="key">
                                        <td align="left">{{ item.courseTitle }}</td>
                                        <td>{{ item.courseTime }}</td>
                                        <td>{{ item.courseTime }}</td>
                                        <td>{{ item.deadline }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

            <!-- 提示視窗 -->
            <div class="modal fade" id="infoModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">提示訊息</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-align-left">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer class="inside_footer" id="Footer_front">
            <div class="copyright copyright_color04">
                © 2022 Sunyu Tech Inc. All Rights Reserved.
            </div>
        </footer>

    </div>

    <!-- script -->
    <script type="module">
        import { unit } from './javascript/unit.js';
        import { config } from "./javascript/config.js";
        import {
            getMaps,
            verifyToken,
            verifyExpiration,
            getRecommendType,
            getRecommendClasses
        } from './javascript/api.js'

        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    loading: false,
                    message: "",
                    banner_map: [],
                    active: 0,
                    user: {},
                    page: {},
                    item: 1,
                    pages: [],
                    recommendType: {},
                    recommendTypes: [],
                    recommends: [],
                    params: {
                        recommend: {
                            subCategoryType: "",
                            currentPage: 1,
                            itemsPerPage: 2,
                        },
                    },
                    infoModal: {}
                }
            },
            async created() {
                // banner 
                getMaps().then((resp) => {
                    this.banner_map = resp;
                });
                // sub category
                let token = getUrlParam('token');
                if (token == null) {
                    token = getToken();
                }
                if (token == null) {
                    this.message = "帳號驗證錯誤，請重新登入";
                    this.infoModal = bsModal('infoModal');
                    this.infoModal.show();
                }
                if (location.href.includes('?')) {
                    history.pushState({}, null, location.href.split('?')[0]);
                }
                this.verifyToken(token);

                getRecommendType().then((resp) => {
                    this.recommendTypes = resp;
                    this.recommendType = this.recommendTypes[0]
                    this.getRecommendClasses(this.recommendType.courseSubcategory);
                })
            },
            methods: {
                async onLoad() {
                    this.loading = true;

                    this.loading = false;
                },
                onClick(value) {
                    this.recommendType = value;
                    this.getRecommendClasses(value.courseSubcategory);
                },
                onChange(value) {
                    console.log(this.recommendType);
                    this.getRecommendClasses(this.recommendType.courseSubcategory, value);
                },
                onNav(page) {
                    window.location.href = page;
                },
                getRecommendClasses(recommendType, currentPage = 1) {
                    const params = {
                        subCategoryType: recommendType,
                        currentPage: currentPage,
                        itemsPerPage: 5
                    };
                    this.item = currentPage;
                    const data = getUrlQuery(params);

                    getRecommendClasses(data).then((resp) => {
                        this.recommends = resp.source;
                        this.page = resp.data;
                        this.pages = [];
                        for (let index = 1; index <= this.page.totalPage; index++) {
                            this.pages.push(index)
                        }
                    })
                },
                verifyToken(token) {
                    const data = {
                        token: token,
                    };
                    // 驗證Token
                    verifyToken(data).then(resp => {
                        if (resp.resultCode == 10) {
                            // 驗證時間
                            const expAt = moment(resp.content.expiration);
                            const nowAt = moment();
                            // 大於現在時間 
                            const isVerify = nowAt.diff(expAt, "minutes") > 0 ? false : true;
                            this.user = resp.content;
                            setUserInfo(resp.content);

                        } else {
                            this.message = "帳號驗證錯誤，請重新登入";
                            this.infoModal = bsModal('infoModal');
                            this.infoModal.show();
                        }
                    })
                },
                setActive(index) {
                    let active = index;

                    if (index === this.banner_map.length) {
                        active = 0;
                    }
                    else if (index === -1) {
                        active = this.pictures.length - 1;
                    }
                    this.active = active;
                },
                logout() {
                    localStorage.clear();
                    sessionStorage.clear();
                    window.location.href = config().home_url;
                }
            }
        })
        vm.$mount('#app');
    </script>
</body>

</html>