<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>產業創新知識庫</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="icon" href="./assets/images/LOGO.png" type="image/ico" />
    <link href="./assets/css/fontawesome.min.css" rel="stylesheet">
    <!--icon font設定-->
    <link href="./assets/css/all.css" rel="stylesheet">

    <!--load all styles -->
    <link href="./assets/css/layout.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/chosen.min.css">
    <link rel="stylesheet" href="./assets/css/datatables.min.css">
    <link href="./assets/doc.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="./javascript/video.js"></script>
    <script src="./javascript/app.js"></script>
    <script src="./pages/component.js"> </script>
</head>

<body>
    <div id="app">
        <header id="Header_front">
            <div class="top-nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title navbar-brand">
                        <img src="assets/images/LOGO_220308_cn.png" alt="logo">
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <div class="nav-links">
                    <p class="user-info">{{user.userAccount}}, 您好</p>
                    <a @click="onNav('index.html')">所有課程</a>
                    <a @click="onNav('myClass.html')">我的課程</a>
                    <a @click="onNav('bestClass.html')">課程推薦</a>
                    <a @click="logout()">登出</a>
                </div>
            </div>

        </header>
        <div id="WRAPPER">
            <!-- banner -->
            <div id="carousel01" class="carousel slide carousel-fade py-3" data-ride="carousel" data-bs-ride="false">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <div v-for="(banner,index) in banner_map" :key="index">
                        <button type="button" data-bs-target="#carousel01" :data-bs-slide-to="index"
                            :class=" index === 0? 'active' : '' " aria-current="true"></button>
                    </div>
                </div>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div v-for="(banner, index) in banner_map" :key="index"
                        :class="index === 0 ? 'carousel-item slide01 active':'carousel-item slide01'"
                        v-bind:style="{ 'background-image': 'url(' + banner.image + ')' }">
                    </div>
                </div>
                <!-- Left and right controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel01" data-bs-slide="prev"
                    @click="setActive(active-1)">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel01" data-bs-slide="next"
                    @click="setActive(active+1)">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="section videoArea_bg">
                <div class="container">
                    <h1 class="section_title_center text-white"> {{ course.courseName }}</h1>
                    <div class="row my-4 px-2 py-4 bg-w-80 rounded">
                        <div class="col-12 col-md-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="video01" role="tabpanel"
                                    aria-labelledby="video01-tab">
                                    <div class="videobox">
                                        <video id="video" ref="video" class="video-js vjs-big-play-centered" controls
                                            fluid :src="videoPath" width="1024"></video>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-md-3 mt-2 mt-md-0">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a  id="video01-tab" data-toggle="pill"
                                    data-target="#video01" type="button" role="tab" aria-controls="video01"
                                    aria-selected="true" v-for="(item,idex) in course.appendiies" :key="idex" @click="onChang(item)"
                                    :class="idex === active ? 'nav-link btn-light active':'nav-link btn-light'" >
                                    {{ item.unit }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section bg-white">
                <div class="container">
                    <div class="row my-4">
                        <div class="col-12 col-md-8 mb-4">
                            <div class="notes px-2">
                                <h3>本集重點</h3>
                                <span v-html="course.courseMemo"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="border rounded">
                                <div class="p-4 teacher_personal_bg">
                                    <div class="text-center">
                                        <img src="assets/images/teacher01.png" alt="老師照片"
                                            class="teacher_personal_pic rounded-circle">
                                        <p class="teacher_name">{{course.authorName}}</p>

                                    </div>
                                </div>
                                <div class="w-100 p-4">
                                    <p class="mt-2 mb-0 font-weight-bold">關於我</p>
                                    <span v-html="course.authorMemo"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="inside_footer" id="Footer_front">
            <div class="copyright copyright_color04">
                © 2022 Sunyu Tech Inc. All Rights Reserved.
            </div>
        </footer>
    </div>

    <!-- template -->
    <script type="text/x-template" id="my-banner">
        <div id="carousel01" class="carousel slide py-3" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#carousel01" data-slide-to="0" class="active"></li>
                <li data-target="#carousel01" data-slide-to="1"></li>
                <li data-target="#carousel01" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <a class="carousel-item slide01 active"></a>
                <a class="carousel-item slide01"></a>
                <a class="carousel-item slide01"></a>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" data-slide="prev" v-on:click="onClick">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </script>>
    <script type="module">

        import {
            getCourse,
            setViewHistory,
            getViewHistory,
            setViewHistoryEnd,
            addViewLog,
            getMaps,
            getExpertData,
        } from './javascript/api.js'

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    loading: false,
                    seq: 0,
                    active: 0,
                    course: {},
                    user: {},
                    appendix: {},
                    viewHistory: {},
                    startTime: "",
                    banner_map: [],
                    videoPath: "",
                }
            },
            created() {
                this.startTime = moment();
                this.seq = getUrlParam('seq');
                this.user = getUserInfo();
                getMaps().then((resp) => {
                    this.banner_map = resp;
                });
                this.onLoad();
            },
            computed: {
                video() {
                    return this.$refs.video;
                },
            },
            watch: {
                appendix(newVal, oldVal) {
                    if (oldVal.seq != undefined) {
                        this.save(oldVal, this.video);
                    }
                    this.play(newVal);
                },
            },
            methods: {
                onLoad: async function () {
                    this.loading = true;
                    getCourse(this.seq)
                        .then((resp) => {
                            console.log(resp);
                            this.course = resp;
                            this.appendix = this.course.appendiies[0];
                            this.course.teacherUrl = `${this.course.authorImageType} ${this.course.authorImage}`;
                            this.loading = false;
                        })
                        .catch((e) => {
                            this.loading = false;
                        });
                },
                onChange(val) {
                    //this.appendix = val;
                    this.video.pause();
                    this.videoPath = `http://demo.sunyu-tech.com.tw/TTQS${val.filePath}${val.fileName}`;
                    this.video.load();
                },
                onChang: async function (val) {
                    // 觀看紀錄 this.video.load();
                    this.loading = true;
                    this.video.pause();
                    this.appendix = val;
                    // 取得觀看章節的 index
                    const idx = this.course.appendiies.indexOf(val);
                    this.active = idx
                    setTimeout(() => {
                        this.loading = false;
                    }, 500);
                },
                onAction(val) {
                    setViewHistoryEnd(this.viewHistory.seq).then((resp) => { });
                },
                onNav(page) {
                    window.location.href = page;
                },
                play(appendix) {
                    if (this.video == null) {
                        return;
                    }
                    getViewHistory(
                        appendix.courseSeq,
                        appendix.seq
                    ).then(resp => {
                        this.videoPath = `http://demo.sunyu-tech.com.tw/TTQS${appendix.filePath}${appendix.fileName}`;
                        this.$nextTick(async () => {
                            this.video.currentTime = resp.viewLastTime;
                        });
                    });
                },
                save(appendix, video) {
                    const data = {
                        seq: 0,
                        courseSeq: appendix.courseSeq,
                        appendixSeq: appendix.seq,
                        viewLastTime: video.currentTime,
                        deleteTag: 0,
                    };
                    console.log(data);
                    setViewHistory(data).then((resp) => {
                        console.log(resp);
                    });
                },
                setActive(index) {
                    let active = index;

                    if (index === this.banner_map.length) {
                        active = 0;
                    }
                    else if (index === -1) {
                        active = this.pictures.length - 1;
                    }
                    this.active = active;
                },
                logout() {
                    localStorage.clear();
                    sessionStorage.clear();
                    window.location.href = "https://demo.sunyu-tech.com.tw/webdemo/";
                }
            },
            async beforeDestroy() {
                await this.save(this.appendix, this.video);
                var data = {
                    courseSeq: this.course.seq,
                    appendixSeq: this.appendix.seq,
                    viewStartTime: this.startTime,
                };
                await addViewLog(data);
            },
        });
    </script>
    <style scoped>
        .video-js {
            width: 100%;
            height: auto;
        }
    </style>
</body>

</html>