<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>產業創新知識庫</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="icon" href="./assets/images/LOGO.png" type="image/ico" />
    <link href="./assets/css/fontawesome.min.css" rel="stylesheet">
    <!--icon font設定-->
    <link href="./assets/css/all.css" rel="stylesheet">

    <!--load all styles -->
    <link href="./assets/css/layout.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/chosen.min.css">
    <link rel="stylesheet" href="./assets/css/datatables.min.css">
    <link href="./assets/doc.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="./javascript/app.js"></script>

    <script src="./pages/component.js"> </script>

</head>

<body>
    <!-- app -->
    <div id="app">
        <header id="Header_front">
            <div class="top-nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title navbar-brand">
                        <img src="assets/images/LOGO_220308_cn.png" alt="logo">
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <div class="nav-links">
                    <p class="user-info">{{user.userAccount}}, 您好</p>
                    <a @click="onNav('index.html')">所有課程</a>
                    <a @click="onNav('myClass.html')">我的課程</a>
                    <a @click="onNav('bestClass.html')">課程推薦</a>
                    <a @click="logout()">登出</a>
                </div>
            </div>

        </header>

        <div id="WRAPPER">
            <!-- banner -->
            <div id="carousel01" class="carousel slide carousel-fade py-3" data-ride="carousel" data-bs-ride="false">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <div v-for="(banner,index) in banner_map" :key="index">
                        <button type="button" data-bs-target="#carousel01" :data-bs-slide-to="index"
                            :class=" index === 0? 'active' : '' " aria-current="true"></button>
                    </div>
                </div>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div v-for="(banner, index) in banner_map" :key="index"
                        :class="index === 0 ? 'carousel-item slide01 active':'carousel-item slide01'"
                        v-bind:style="{ 'background-image': 'url(' + banner.image + ')' }">
                    </div>
                </div>
                <!-- Left and right controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel01" data-bs-slide="prev"
                    @click="setActive(active-1)">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel01" data-bs-slide="next"
                    @click="setActive(active+1)">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- 載入 -->
            <div id="spinner-div" class="d-flex justify-content-center" v-if="loading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
   
            <div class="section">
                <div class="container">
                    <h1>最新上架</h1>
                    <div class="row my-4">
                        <div class="col-12 col-sm-6 mb-4" v-for="item in last">
                            <div class="btn-block btn-shadow" @click="onNavCourse(item)">
                                <div class="card text-align-left">
                                    <img src="assets/images/lesson01_bg.png" class="card-img-top">
                                    <img class="lesson_pic_100" :src="item.courseImageBase46"> </img>

                                    <div class="card-body">
                                        <h4 class="card-title font-weight-bold mb-0">{{item.courseName}}</h4>
                                        <div class="teacher_info">
                                            <img :src="item.authorImageBase64" class="rounded-circle teacher_pic" />
                                            {{ item.authorName }}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2>繼續看</h2>
                    <div class="row my-4">
                        <div class="col-12 col-sm-6 col-lg-4 mb-4" v-for="item in half">
                            <div class="btn-block btn-shadow" @click="onNavCourse(item)">
                                <div class="card text-align-left">
                                    <img src="assets/images/lesson01_bg.png" class="card-img-top">
                                    <img class="lesson_pic_100" :src="item.courseImageBase46"> </img>

                                    <div class="card-body">
                                        <h4 class="card-title font-weight-bold mb-0">{{item.courseName}}</h4>
                                        <div class="teacher_info">
                                            <img :src="item.authorImageBase64" class="rounded-circle teacher_pic" />
                                            {{ item.authorName }}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-inline section_title_left">
                        <label class="my-1 mr-3">全部課程</label>
                        <!-- 
                        <select class="form-control my-2" style="width: 200px;">
                            <option>全部</option>
                            <option>類別1</option>
                            <option>類別2</option>
                        </select>
                        -->
                        <select class="form-control my-2" v-model="params.mine.category" style="width: 200px;"
                            @change="onChange">
                            <option value="0">全部</option>
                            <option v-for="item in fun_categories" :value="item.seq">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="row my-4">
                        <div class="col-12 col-sm-6 col-lg-4 mb-4" v-for="item in mine">
                            <div class="btn-block btn-shadow" @click="onNavCourse(item)">
                                <div class="card text-align-left">
                                    <img src="assets/images/lesson01_bg.png" class="card-img-top">
                                    <img class="lesson_pic_100" :src="item.courseImageBase46"> </img>

                                    <div class="card-body">
                                        <h4 class="card-title font-weight-bold mb-0">{{item.courseName}}</h4>
                                        <div class="teacher_info">
                                            <img :src="item.authorImageBase64" class="rounded-circle teacher_pic" />
                                            {{ item.authorName }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 講師陣容-->
            <div class="section bg-light">
                <div class="container">
                    <h3>講師陣容</h3>
                    <div class="row my-4">
                        <div class="col-6 col-sm-4 col-md-2 border-right mt-2 mb-4" v-for="item in experts">
                            <div class="text-center">
                                <img :src="item.image" alt="老師照片" class="teacher_list_pic rounded-circle">
                            </div>
                            <div class="w-100">
                                <p class="mt-2 mb-0 font-weight-bold">{{item.name}}</p>
                                <span v-html="item.expertMemo"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 提示視窗 -->
            <div class="modal fade" id="infoModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">提示訊息</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-align-left">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer class="inside_footer" id="Footer_front">
            <div class="copyright copyright_color04">
                © 2022 Sunyu Tech Inc. All Rights Reserved.
            </div>
        </footer>

    </div>

    <!-- script -->
    <script type="module">
        import { unit } from './javascript/unit.js';
        import { config } from "./javascript/config.js";
        import {
            verifyExpiration,
            verifyToken,
            getVerifyToken,
            getLast,
            getHalf,
            getMine,
            getSelf,
            getSignup,
            getMaps,
            getExpertData,
            getFunctionCategories,
            getRecommendType
        } from './javascript/api.js'

        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    loading: false,
                    message: "",
                    banner_map: [],
                    active: 0,
                    user: {},
                    experts: [],
                    fun_categories: [],
                    recommendTypes: [],
                    recommends: [],
                    params: {
                        last: {
                            currentPage: 1,
                            itemsPerPage: 2,
                        },
                        half: {
                            currentPage: 1,
                            itemsPerPage: 3,
                        },
                        mine: {
                            category: 0,
                            currentPage: 1,
                            itemsPerPage: 20,

                        },
                    },
                    last: [],
                    half: [],
                    mine: [],
                    infoModal: {}
                }
            },
            async created() {
                // banner 
                getMaps().then((resp) => {
                    this.banner_map = resp;
                });
                // 專家資料
                getExpertData().then((resp) => {
                    this.experts = resp;
                });
                // 類型
                getFunctionCategories().then((resp) => {
                    this.fun_categories = resp;
                });
                // 推薦課程
                let token = getUrlParam('token');
                if (token == null) {
                    token = getToken();
                    //token = "yJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ7XCJVc2VyU2VxXCI6MyxcIlVzZXJXb3JrTnVtXCI6XCJBMDAxXCIsXCJVc2VyTmFtZVwiOlwiYWFhXCIsXCJVc2VyQWNjb3VudFwiOlwiYW5pdGFcIixcIlVzZXJSb2xlXCI6MyxcIlVzZXJNb2JpbGVcIjpcIjA5MTIxMTIzMTJcIixcIkV4dGVuc2lvblwiOlwiXCIsXCJVc2VyTWFpbFwiOlwiYW5pdGFAdGVzdC5jbVwiLFwiVXNlclVuaXRcIjoxMyxcIlVzZXJKb2JUaXRsZVwiOjE0LFwiTWFuYWdlbWVudFwiOjAsXCJTdHJhdFdvcmtEYXlcIjpcIjIwMjItMDktMDFUMDA6MDA6MDBcIixcIkNyZWF0RGF0ZVwiOlwiMjAyMi0xMS0wMlQyMDo0NDo1N1wiLFwiQ3JlYXRVc2VyXCI6MSxcIklzQWN0aXZlXCI6MSxcIkRlbGV0ZVRhZ1wiOjAsXCJUb2tlblwiOm51bGwsXCJFeHBpcmF0aW9uXCI6bnVsbH0iLCJqdGkiOiIwOTdiNjI0OC1lYWQwLTQwMTctYjBiZC1hYmFjYjY0ZmM4ZTIiLCJuYmYiOjE2NzIwNDMyOTAsImV4cCI6MTY3MjEyOTY5MCwiaWF0IjoxNjcyMDQzMjkwLCJpc3MiOiJTdW55dSJ9.fLEpHy4xtuzJV8WyZeQmPF6mlTLE7mluq5RrioNBq8A";
                }
                if (token == null) {
                    this.message = "帳號驗證錯誤，請重新登入";
                    this.infoModal = bsModal('infoModal');
                    this.infoModal.show();
                }
                if (location.href.includes('?')) {
                    history.pushState({}, null, location.href.split('?')[0]);
                }
                this.verifyToken(token);
            },
            methods: {
                async onLoad() {
                    this.loading = true;
                    let params = getUrlQuery(this.params.last);
                    // 最新上架
                    const last = await getLast(params);
                    if (last.resultCode == 10) {
                        this.last = last.content;
                    }
                    // 繼續看
                    params = getUrlQuery(this.params.half);
                    const half = await getHalf(params);
                    if (half.resultCode == 10) {
                        this.half = half.content;
                    }
                    //  全部課程
                    params = getUrlQuery(this.params.mine);
                    const mine = await getMine(params);
                    if (mine.resultCode == 10) {
                        this.mine = mine.content;
                    }
                    this.loading = false;
                },
                onOpen() {
                    var elm = document.getElementById('infoModal')
                    showModal(elm);
                },
                onNav(page) {
                    window.location.href = page;
                },
                async onNavCourse(item) {
                    var data = await getSignup(item.seq);
                    if (data.resultCode != 10) {
                        this.message = data.message;
                        this.infoModal = bsModal('infoModal');
                        this.infoModal.show();
                        return;
                    }
                    window.location.href = `course.html?seq=${item.seq}`;
                },
                async onChange(val) {
                    this.loading = true;
                    let params = getUrlQuery(this.params.mine);
                    const mine = await getMine(params);
                    if (mine.resultCode == 10) {
                        this.mine = mine.content;
                    }
                    this.loading = false;
                },
                verifyToken(token) {
                    const data = {
                        token: token,
                    };
                    // 驗證Token
                    verifyToken(data).then(resp => {
                        if (resp.resultCode == 10) {
                            // 驗證時間
                            const expAt = moment(resp.content.expiration);
                            const nowAt = moment();
                            // 大於現在時間 
                            const isVerify = nowAt.diff(expAt, "minutes") > 0 ? false : true;
                            this.user = resp.content;
                            setUserInfo(resp.content);
                            this.onLoad();
                        } else {
                            this.message = "帳號驗證錯誤，請重新登入";
                            this.infoModal = bsModal('infoModal');
                            this.infoModal.show();
                        }
                    })
                },
                async verifyAccount(token) {
                    if (token == null) {
                        // token = getToken();
                        return false;
                    }
                    const data = {
                        token: token,
                    };
                    // 驗證 token 
                    const resp = await verifyExpiration(data);
                    return resp;
                },
                setActive(index) {
                    let active = index;

                    if (index === this.banner_map.length) {
                        active = 0;
                    }
                    else if (index === -1) {
                        active = this.pictures.length - 1;
                    }
                    this.active = active;
                },
                logout() {
                    localStorage.clear();
                    sessionStorage.clear();
                    window.location.href = config().home_url;
                }
            }
        })
        vm.$mount('#app');
    </script>
</body>


</html>